<!DOCTYPE html>
<html>
  <head>
    <title>Ulam Spiral</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
        background-color: white;
      }
    </style>
    <script>
      function CoordMapType(tileSize) {
        this.tileSize = tileSize;
      };

      function xhr(resource){
        x = new XMLHttpRequest();
        x.open("GET", resource+"?", false);
        x.send();
        return JSON.parse(x.response);
      };

      CoordMapType.prototype.getTile = function(coord, zoom, ownerDocument){
        var r = xhr("api/"+zoom+"/"+coord.x+"/"+coord.y*-1);
        var div = ownerDocument.createElement('div');
        div.innerHTML = r.results.position;
        div.style.width = this.tileSize.width + 'px';
        div.style.height = this.tileSize.height + 'px';
        div.style.color = "red";
        //div.style.padding = '10px';
        div.style.fontSize = '10';
        if(r.results.prime){
            div.style.backgroundColor = 'black';
        };
        //div.style.borderStyle = 'solid';
        //div.style.borderWidth = '1px';
        //div.style.borderColor = '#aaaaaa';
        return div;
      };


      function initialize(){
        var myLatlng = new google.maps.LatLng(0,0);
        var mapOptions = {
          center: myLatlng,
          zoom: 1,
          streetViewControl: false,
          mapTypeControlOptions: {
            mapTypeIds: ['ulam'],
          }
        };

        var TypeOptions = {
          getTileUrl: function(coord, zoom){
            //var r = xhr("api/"+zoom+"/"+coord.x+"/"+coord.y*-1);
            //image = "static/"+r.results.value+".png";
            //return image;
          },
          tileSize: new google.maps.Size(50,50),
          maxZoom: 2,
          minZoom: 2,
          name: 'Ulam',
        };


        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var MapType = new google.maps.ImageMapType(TypeOptions);
        map.mapTypes.set('ulam', MapType);
        map.setMapTypeId('ulam');
        map.overlayMapTypes.insertAt(0, new CoordMapType(new google.maps.Size(50,50)));
      };

      function asyncLoad(){
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&callback=initialize';
        document.body.appendChild(script);
      };

      window.onload = asyncLoad;  

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
            
